{% extends 'proGizeWelcomeBundle::default.html.twig' %}

{% block title %}
	<title>proGize Login page</title>
{% endblock %}

{% block scripts %}

	{{ parent() }}

	<script src={{ asset('bundles/progizeusermanagement/js/register.js') }}></script>

{% endblock %}

{% block styles %}

	{{ parent() }}

	<link href="{{ asset('bundles/progizeusermanagement/css/loginregister.css') }}" rel="stylesheet" type="text/css" />
	
{% endblock %}

{% block body %}
	<div id="_cutleft"></div>

	<div id="wrapper">
		<p id="logindescription">Log in or Register to create a new Account</p>

		<input type="button" value="Register" class="button" id="registerbutton" />

		<form action="{{ path('progize_login_user') }}" method="post" {{ form_enctype(loginform) }}>
			<dd>

				{{ form_widget(loginform) }}

			</dd>

			<input type="submit" class="button" id="loginbutton" value="Login" />
		</form>

	</div>
	<div id="wrapper_foot"></div>

	<div id="_cutright"></div>

	<a href="{{ path('progize_welcome_homepage') }}">
		<div class="logo" id="logo"></div>
	</a>

	{% block wrap_register %}
	<div id="wrap_register">
		<div id="_corner1"></div>
		<div id="_corner2"></div>
	{% endblock %}

		<form action="{{ path('progize_create_user') }}" method="post" {{ form_enctype(registerform) }}>
			<dd>

		    	{{ form_widget(registerform) }}

		    </dd>

		    <input type="submit" class="button" id="sendregistration" value="Send Registration" />
		</form>

	</div>

{% endblock %}